*{
margin :0;
padding :0;
  box-sizing: border-box;
}
body{
  background : linear-gradient(#8db2bf,#3b5999);
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.location{
  display: flex;
  height: 30vh;
  justify-content: space-around;
  /*justify-content: center;*/
  width: 50%;
  align-items: center;

}
.temp{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
  /*width: 50%;*/

}
.degree-part{
  display: flex;
  align-items: center;
}
.degree-part span{
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  /*font-family: 'Poor Story', cursive;*/
}
.degree-part h2{
  font-size: 40px;
}
